@import url('https://fonts.googleapis.com/css2?family=Andika&display=swap');
body {
  font-family: Andika;
  background-color: #ac88bf;
  color: #232653;
  margin-left: 25%;
  margin-right: 25%;
}
form {
  background-color: #ba9dc9;
  margin: 2px 2px 2px 2px;
}
hr {
  color: purple;
}


