@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika&display=swap');
body {
  font-size: 20px;
  font-family: Andika;
  background-color: #ac88bf;
  color: #232653;
  text-align: center;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 50%;
  height: auto;
}

ul {
  text-align: left;
}

li {
  margin-bottom: 10px;
}

h1 {
  font-family: Amatic SC;
  font-size: 40px;
}
