@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika&display=swap');

body {
  font-family: Andika;
  font-size: 20px;
  background-color: #ac88bf;
  color: #232653;
}
img {
  align-self: center;
  max-width: 200px;
}
#navbar {
    display: flex;
    flex-direction: column;
    position: fixed;
    min-width: 200px;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 100%;
    border-right: solid;
    border-right-color: currentcolor;
}
header { 
  font-family: Amatic SC;
  font-size: 40px;
}
#main-doc {
  margin-left: 200px;
}

code {
  background-color: pink;
}
