@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika&display=swap');
header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: pink;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header-img {
  max-width: 50px;
  margin-left: 50px;
  margin-top: 5px;
}
#nav-bar {
  margin-right: 50px;
}
body {
  font-family: Andika;
  margin-top: 100px;
  background-color: #ac88bf;
  color: #232653;
  text-align: center;
}
#pricing {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-column-gap: 50px
}
.tier1 {
  
  background: #bbfce2;
  padding: 12px 12px 12px 12px;
}

.tier2 {
  
  background: #f7fcbb;
  text-align: center;
  padding: 12px 12px 12px 12px;
}

.tier3 {
  
  background: #fcbbbb;
  padding: 12px 12px 12px 12px;
}
