@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika&display=swap');

body {
  margin-top: 50px;
  text-align: center;
  font-family: Andika;
  font-size: 20px;
  background-color: #ac88bf;
  color: #232653;
}
img {
  align-self: center;
  max-width: 200px;
}
#navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: Amatic SC;
  font-size: 40px;
  top: 0;
  position: fixed;
}

#welcome-section {
  text-align: left;
  color: white;
  margin-top: 30vh;
  height:  100vh;
  background-image: url("missievilness.jpg");
  background-size: cover;
  background-position: top;
}

#project-tile {
  display: flex;
  justify-content: space-between;
}
h1 {
  font-family: Amatic SC;
  font-size: 40px;
}
